%strong Name:
%p= @reminder.name
%strong Message:
%p= @reminder.message
%strong Number:
%p= @reminder.phonenumber
%strong Appointment:
%p= @reminder.appointment
%strong Is sent out:
%p= @reminder.sent

= link_to 'Back', reminders_path
