= semantic_form_for @template do |f|
  = f.inputs do
    = f.input :template, :as => :text, :input_html => { :maxlength => 160 }, :hint => 'Max 160 characters. You can use the #{name} tag'
    = f.input :name, :hint => 'Try to be short and explain what it contains'

  = f.actions do
    = f.action :submit, :as => :input
